.error-border {
  border: 2px solid var(--error-color);
}

.error-borderUpload {
  border-top: 2px solid var(--error-color);
  border-right: 0 solid var(--bg-color);
  border-bottom: 2px solid var(--error-color);
  border-left: 2px solid var(--error-color);
}

.error-upload {
  position: absolute;
  left: 16px;
  bottom: -38px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  color: var(--error-color);
  display: none;
}

.error-color {
  padding-left: 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: var(--error-color);
  display: none;
}

.error-radio {
  padding-left: 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: var(--error-color);
  display: none;
}

.form__upload .error-color {
  position: absolute;
  left: 16px;
  padding-left: 0;
  bottom: -38px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  color: var(--error-color);
  display: none;
}