@media (max-width: 1170px) {
  .container {
    width: 100%;
    padding: 0 60px;
  }
  .hero {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 860px) {
  .container {
    padding: 0 32px;
  }
  .hero {
    width: 100%;
    height: 500px;
  }
  .get {
    .cards {
      .card-block {
        width: 48.5%;
      }
    }
  }
}
@media (max-width: 590px) {
  .container {
    padding: 0 16px;
  }
  .hero { 
    .hero__content {
      width: 100%;
      padding: 0 16px;
    }
  }
  .get {
    .cards {
      justify-content: center;
      .card-block {
        width: 100%;
      }
    }
  }
  .post {
    .form {
      .container{
        .input__container {
          .form__input {
            width: 328px;
          }
        }
      }
    }
  }
  .form__radio, .form__upload {
    width: 328px;
  }
}
@media (max-width: 345px) {
  .container {
    padding: 0 8px;
  }
  .header {
    .container{
      gap: 10px;
    }
  }
  .hero {
    .hero__content {
      width: 100%;
      padding: 0 16px;
    }
  }
  .post {
    .form {
      .container{
        .input__container {
          .form__input {
            width: 300px;
          }
        }
      }
    }
  }
  .form__radio, .form__upload {
    width: 300px;
  }
}