/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Font and Typography =====*/
    --body-font: 'Nunito', sans-serif;

    /*===== Colors =====*/
    --primary-color: #F4E041;
    --secondary-color: #00BDD3;
    --bg-color: #F8F8F8;
    --text-color: rgba(0, 0, 0, .87);
    --text-color-second: rgba(255, 255, 255, 0.87);
    --gray-bg: rgba(180, 180, 180, 1);
    --error-color: #CB3D40;
}


/*=============== BASE ===============*/
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 26px;
}

p {
  color: var(--text-color);
}

h1 {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input {
  border: none;
  outline: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}


// /*=============== HEADER ===============*/
@import '_header.scss';

/*=============== MAIN ===============*/
main {
  width: 100%;
  background-color: var(--bg-color);
}

/*=============== SECTION HERO ===============*/
@import '_hero.scss';


/*=============== SECTION GET ===============*/
@import '_get.scss';


/*=============== SECTION POST ===============*/
@import '_post.scss';


/*=============== Error styles ===============*/
@import '_error.scss';


/*=============== SUCCESS BLOCK ===============*/
.success {
  display: none;
}

.success__img img {
  margin-bottom: 100px;
}


/*=============== @MEDIA BLOCK ===============*/
@import '_media.scss';