/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*===== Font and Typography =====*/
    --body-font: 'Nunito', sans-serif;

    /*===== Colors =====*/
    --primary-color: #F4E041;
    --secondary-color: #00BDD3;
    --bg-color: #F8F8F8;
    --text-color: rgba(0, 0, 0, .87);
    --text-color-second: rgba(255, 255, 255, 0.87);
    --gray-bg: rgba(180, 180, 180, 1);
    --error-color: #CB3D40;
}

/*=============== BASE ===============*/
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 26px;
}

p {
  color: var(--text-color);
}

h1 {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button, input {
  border: none;
  outline: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

/*=============== HEADER ===============*/
.header .container{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.header__logo img{
  max-width: 100%;
  height: 26px;
  vertical-align: middle;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.btn {
  width: 100px;
  border-radius: 80px;
  background-color: var(--primary-color);
  padding: 4px 0;
  transition: .3s;
}

.btn:hover {
  background-color: #FFE302;
}

/*=============== MAIN ===============*/
main {
  width: 100%;
  background-color: var(--bg-color);
}

/*=============== SECTION HERO ===============*/
.hero { 
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 1170px;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  background: url(../img/hero.jpeg) no-repeat;
  background-size: cover;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__content {
  width: 380px;
  z-index: 3;
}

.hero__content p {
  margin-top: 21px;
  color: #fff;
}

.hero__content .btn {
  margin-top: 32px;
}

/*=============== SECTION GET ===============*/
.get {
  margin-top: 140px;
}

.get h1 {
  color: var(--text-color);
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card-block {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 29px;
}

.card-block__img {
  margin: 0 auto;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
}

.card-block__name {
  margin-top: 20px;
}

.card-block__info {
  margin-top: 20px;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cut {
  cursor: pointer;
}

.cut:after {
  content: attr(data-text);
  overflow: auto;
  background-color: var(--text-color);
  position: absolute;
  padding: 2px 15px;
  color: #fff;
  margin-top: 8px;
  border-radius: 4px;
  display: none;
  transition: all 0.15s ease-out;
}

.cut:hover:after {
  display: block;
}

.btn-more {
  width: 120px;
}

/*=============== SECTION POST ===============*/
.post {
  margin-top: 140px;
}

.form {
  position: relative;
}

.form .container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.input__container {
  position: relative;
}

.form__input {
  width: 380px;
  border: 1px solid #D0CFCF;
  background-color: transparent;
  padding: 14px 0 14px 16px;
  color: var(--text-color);
  outline: none;
  border-radius: 4px;
  transition: .3s;
}

.input__container label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #7E7E7E;
  pointer-events: none;
  z-index: 100;
  transition: .5s;
}

.input__container span {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
  color: transparent;
  padding: 0 8px;
  pointer-events: none;
  z-index: 99;
}

.input__container span::before,
.input__container span::after {
  content: '';
  position: absolute;
  width: 10%;
  height: 18px;
  opacity: 0;
  background-color: var(--bg-color);
  top: 50%;
  transform: translateY(-50%);
  transition: .3s;
}

.input__container span::before {
  left: 50%;
}

.input__container span::after {
  right: 50%;
}

.input__container.focus label {
  top: 0;
  left: 16px;
  transform: translateY(-50%);
}

.input__container.focus span::before,
.input__container.focus span::after {
  width: 50%;
  opacity: 1;
}

.help-text {
  position: absolute;
  left: 16px;
  bottom: -20px;
  font-size: 12px;
  line-height: 14px;
  color: #7E7E7E;
}

/*=============== RADIO BUTTONS ===============*/
.form__radio {
  width: 380px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form__radio-block {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 7px;
}

.form__radio p {
  margin-bottom: 11px;
}

.form__radio-block input {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
}

.form__radio-block input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* creat in label before */
.form__radio-block input+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #D0CFCF;
  border-radius: 50%;
}

/* styles for radio buttons in focus */
.form__radio-block input:focus+label::before {
  background-image: url(../img/radio-active.png);
}

/* styles for radio buttons in checked */
.form__radio-block input:checked+label::before {
  background-image: url("../img/radio-active.png");
}

/*=============== UPLOAD FILES IN FORM ===============*/
.form__upload {
	position: relative;
	display: flex;
  width: 380px;
}

.form__upload-btn {
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 15px;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(0, 0, 0, 0.87);
  transition: background-color 0.2s;
}

.form__upload-text {
  display: flex;
  width: 100%;
  color: rgba(126, 126, 126, 1);
  padding: 14px 0 14px 16px;
  border-radius: 0 6px 6px 0;
  border: 1px solid rgba(208, 207, 207, 1);
}

.form__upload input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.disabled {
  color: var(--text-color-second);
  background-color: var(--gray-bg);
  margin-bottom: 100px;
  cursor: auto;
}

.disabled:hover {
  background-color: var(--gray-bg);
}

.btn-form {
  margin-bottom: 100px;
}

/*=============== Error styles ===============*/
.error-border {
  border: 2px solid var(--error-color);
}

.error-borderUpload {
  border-top: 2px solid var(--error-color);
  border-right: 0 solid var(--bg-color);
  border-bottom: 2px solid var(--error-color);
  border-left: 2px solid var(--error-color);
}

.error-upload {
  position: absolute;
  left: 16px;
  bottom: -38px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  color: var(--error-color);
}

.error-color {
  padding-left: 16px;
  margin-top: 4px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: var(--error-color);
}

/*=============== SUCCESS BLOCK ===============*/
.success {
  display: none;
}

.success__img img {
  margin-bottom: 100px;
}

/*=============== @MEDIA BLOCK ===============*/
@media (max-width: 1170px) {
  .container {
    width: 100%;
    padding: 0 60px;
  }

  .hero {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .container {
    padding: 0 32px;
  }
}

@media (max-width: 860px) {
  .container {
    padding: 0 32px;
  }

  .hero {
    width: 100%;
    height: 500px;
  }

  .card-block {
    width: 48.5%;
  }
}

@media (max-width: 590px) {
  .container {
    padding: 0 16px;
  }

  .hero__content {
    width: 100%;
    padding: 0 16px;
  } 

  .cards {
    justify-content: center;
  }

  .card-block {
    width: 100%;
  }

  .form__input, .form__radio, .form__upload {
    width: 328px;
  }
}

@media (max-width: 345px) {
  .container {
    padding: 0 8px;
  }

  .header .container {
    gap: 10px;
  }

  .hero__content {
    width: 100%;
    padding: 0 16px;
  }

  .form__input, .form__radio, .form__upload {
    width: 300px;
  }
}